.container {
	width:1200px;
}

#timerJumbotron {
	height:calc(100vh - 150px);
	max-height:800px;
	padding:25px;
	overflow-y:scroll;
	border-radius:5px;
}

#scramble {
	font-size:18pt;
	text-align:center;
	margin:5px;
}

#timer {
	font-size:120pt;
	text-align:center;
	margin:5px;
}

#avg5 {
	text-align:center;
	margin:5px;
}

#avg12 {
	text-align:center;
	margin:5px;
}

#scrambleLength {
	width:50px;
}

#scrambleTypeDiv {
	text-align:center;
}

#scrambleLengthDiv {
	text-align:center;
}

#scramble2x2, #scramble3x3, #scramble4x4, #scramble5x5, #scramble6x6, #scramble7x7 {
	margin-top:5px;
	margin-bottom:5px;
}

#scrambleLengthInputGroup {
	margin-top:5px;
	margin-bottom:5px;
}

#newScrambleButton, #optionsButton {
	margin-top:5px;
	margin-bottom:5px;
}

#times {
	font-size:10pt;
	padding:0px;
	margin:0px;
}

#tableDiv {
	display:inline-block;
    overflow-y:scroll;
	height:calc(100vh - 150px);
	max-height:800px;
	padding:10px;
    border-radius:5px;
    background-color:#eee;
    text-align:center;
}

#numHeader, #timeHeader, #avg5Header, #avg12Header {
	text-align:center;
}

#sessionDropdownButton, #statsButton, #resetButton {
	margin-top:5px;
	margin-bottom:5px;
}

.popover {
	width:145px;
}

.popover-title {
    text-align:center;
}
.popover-content {
	text-align:center;
	padding:10px;
}

.commentInput {
	margin-top:5px;
}

#myModal {
	position: absolute;
}

#statsRow {
	margin-top:5px;
	margin-bottom:5px;
}
