<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="dist/css/lib.css">
  <link rel="stylesheet" type="text/css" href="dist/css/gjTimer.css">
  <script src="dist/js/lib.min.js"></script>
  <script src="dist/js/gjTimer.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="dist/img/cubeLogo.png"/>
  <title>gjTimer</title>
</head>
<body ng-app="gjTimer" ng-controller="gjTimerController">
<div class="container">
  <div class="menu-bar">
    <div class="form-inline">
      <span class="title">gjTimer</span>
      <div class="form-group">
        <div class="btn-group btn-group-puzzles" role="group">
          <button type="button" class="btn btn-default" ng-repeat="puzzle in settings.puzzles" ng-bind="puzzle" ng-click="settings.selectedPuzzle=puzzle"></button>
        </div>
        <div class="input-group input-scramble-length">
          <span class="input-group-addon">Length</span>
          <input type="number" class="form-control" ng-model="settings.scrambleLength">
        </div>
        <div class="btn-group btn-group-menu-bar">
          <button type="button" class="btn btn-primary" ng-click="options()">Options</button>
          <button type="button" class="btn btn-success" ng-click="newScramble()">New Scramble</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="jumbotron">
        <div class="timer">
          <p class="scramble" ng-bind="timer.scramble"></p>
          <p class="display" ng-bind="timer.display"></p>
          <p class="stat" ng-bind="'Avg 5: ' + timer.avg5"></p>
          <p class="stat" ng-bind="'Avg 12: ' + timer.avg12"></p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="jumbotron">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              {{session.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" ng-repeat="session in sessions"><a role="menuitem" tabindex="-1" href="#" ng-bind="session.name"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-info" ng-click="stats()">Stats</button>
          <button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed table-bordered table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Time</th>
              <th>Avg 5</th>
              <th>Avg 12</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="solve in session.solves">
              <td ng-bind="$index+1"></td>
              <td ng-bind="solve.time"></td>
              <td ng-bind="solve.avg5"></td>
              <td ng-bind="solve.avg12"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
