<div id="resultsPopover">
  <span ng-bind="ctrl.title"></span>
  <span ng-bind="title"></span>
  <form class="form-inline">
    <div class="form-group form-group-buttons">
      <div class="btn-group" role="group">
        <button class="btn btn-success btn-xs popover-btn-penalty-ok" onclick="this.blur()">OK</button>
        <button class="btn btn-warning btn-xs popover-btn-penalty-plus" onclick="this.blur()">+2</button>
        <button class="btn btn-danger btn-xs popover-btn-penalty-dnf" onclick="this.blur()">DNF</button>
      </div>
      <button class="btn btn-default btn-xs popover-btn-remove" onclick="this.blur()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </form>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control input-comment" placeholder="comment">
    </div>
  </form>
</div>