<div id="resultsPopover">
  <form class="form-inline">
    <div class="form-group form-group-buttons">
      <div class="btn-group" role="group">
        <button class="btn btn-success btn-xs">OK</button>
        <button class="btn btn-warning btn-xs">+2</button>
        <button class="btn btn-danger btn-xs">DNF</button>
      </div>
      <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </form>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control input-comment" placeholder="comment">
    </div>
  </form>
</div>