@color-jumbotron: #eee;
@height-section-md: calc(~"100vh - 4em");
@breakpoint-sm: 48em;
@breakpoint-md: 62em;

.section {
  padding: .375em 0;
  @media (min-width: @breakpoint-sm) {
    padding: .375em;
  }
}

.jumbotron-timer, .jumbotron-results, .jumbotron-statistics {
  margin-bottom: 0;
  border-radius: 0 !important;
  background-color: @color-jumbotron;
  @media (min-width: @breakpoint-md) {
    height: @height-section-md;
    border-radius: 2px !important;
  }
}

.jumbotron-timer {
  padding: .5em !important;
  overflow-y: auto;
}

.jumbotron-results {
  padding: 0 !important;
  overflow-y: hidden;
}

.jumbotron-statistics {
  padding: .5em !important;
  overflow-y: hidden;
}

.btn {
  border-radius: 2px;
}

.modal {
  top: 5%;
}

.modal-content {
  border-radius: 3px;
}