@color-jumbotron: #eee;
@height-section: calc(~"100vh - 8em");
@height-results-mobile: 30em;

.section {
  padding: .375em;
}

.jumbotron-timer, .jumbotron-results {
  @media screen and (min-width: 62em) {
    height: @height-section;
  }
  margin-bottom: .5em;
  padding: .5em !important;
  border-radius: 4px !important;
  overflow-y: auto;
  background-color: @color-jumbotron;
}

.jumbotron-results {
  @media screen and (max-width: 62em) {
    height: @height-results-mobile;
  }
}

.modal {
  top: 20%;
}

.popover-title {
  text-align: center;
}
