#results {

  .times {
    margin: .125em;
    padding: .125em;
  }

  .table-results {
    margin: 0;
  }

  .table-results .index {
    text-align: center;
  }

  .table-results .time {
    text-align: center;
  }

  .table-results .avg {
    text-align: center;
  }

}
