.modal {
  top: 20%;
}

#resultsModal {

  .modal-header {
    padding: .5em;
  }

  .modal-title {
    margin-left: .25em;
  }

  .modal-footer {
    padding: .5em;
  }

  .btn-close {
    vertical-align: middle;
  }

  .modal-body {
    padding: .5em;
  }

  .ol-results {
    margin: 0;
    padding-left: 2em;
  }

  .li-results {
    margin-bottom: .125em;
  }

}