@height-statistics-sm: 22.0625em;

#statistics {

  margin: .125em;
  padding: .125em;

  @media screen and (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
    height: @height-statistics-sm;
  }

  .stat {
    white-space: nowrap;
    font-weight: 500;
  }

  table {
    margin: .5em 0;
  }

  table td, table th {
    padding: .25em;
  }

  table .type {
    text-align: right;
  }

  table .data {
    text-align: center;
  }

}
