#statistics {

  margin: .125em;
  padding: .125em;

  .stat {
    white-space: nowrap;
    font-weight: 500;
  }

  table {
    margin: .5em 0;
  }

  table td, table th {
    padding: .25em;
  }

  table .type {
    text-align: right;
  }

  table .data {
    text-align: center;
  }

}
