@invalid-input-color: #FFCCCC;

#timer {

  text-align: center;

  .time {
    font-size: 600%;
    margin: .03125em .03125em 0;
    padding: .03125em .03125em 0;
    @media screen and (min-width: @screen-sm-min) {
      font-size: 800%;
      margin: .0625em .0625em 0;
      padding: .0625em .0625em 0;
    }
  }

  .state {
    margin: 0 .5em .5em;
    padding: 0 .5em .5em;
    @media screen and (min-width: @screen-sm-min) {
      margin: 0 .75em .75em;
      padding: 0 .75em .75em;
    }
  }

  .input {
    width: 70%;
    font-size: 400%;
    margin: .0625em;
    padding: .0625em;
    transition: 0.25s linear background;
    @media screen and (min-width: @screen-sm-min) {
      width: 60%;
      font-size: 550%;
    }
    @media screen and (min-width: @screen-md-min) {
      width: 80%;
      font-size: 700%;
    }
  }

  .input.ng-invalid {
    background: @invalid-input-color;
  }

}
