<div id="resultsModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.close()">
      <span aria-hidden="true" class="btn-close">&times;</span>
    </button>
    <h4 class="modal-title" ng-bind="ctrl.title"></h4>
  </div>
  <div class="modal-body">
    <ol class="ol-results">
      <li class="li-results" ng-repeat="result in ctrl.results">
        <span ng-if="(result.min !== undefined) || (result.max !== undefined)" ng-bind="'(' + result.time + ')'"></span>
        <span ng-if="(result.min === undefined) && (result.max === undefined)" ng-bind="result.time"></span>
        <span ng-if="result.penalty !== undefined" ng-bind="' ' + result.penalty"></span>
        <span ng-bind="' - ' + result.scramble"></span>
        <span ng-if="result.comment !== undefined" ng-bind="' (' + result.comment + ')'"></span>
      </li>
    </ol>
  </div>
</div>