<div id="statistics">
  <fading-circle-spinner ng-if="!ctrl.loaded"></fading-circle-spinner>
  <div ng-if="ctrl.loaded">
    <div>
      <span class="stat">Solves: {{ctrl.statistics.solves.solved}}/{{ctrl.statistics.solves.attempted}} | </span>
      <span class="stat">Best: {{ctrl.statistics.solves.best}} | </span>
      <span class="stat">Worst: {{ctrl.statistics.solves.worst}} | </span>
    </div>
    <div>
      <span class="stat" ng-if="ctrl.statistics.sessionMean.stDev === 'DNF'">Mean: {{ctrl.statistics.sessionMean.mean}} | </span>
      <span class="stat" ng-if="ctrl.statistics.sessionMean.stDev !== 'DNF'">Mean: {{ctrl.statistics.sessionMean.mean}} (&rho;={{ctrl.statistics.sessionMean.stDev}}) | </span>
      <span class="stat" ng-if="ctrl.statistics.sessionAvg.stDev === 'DNF'">Avg: {{ctrl.statistics.sessionAvg.avg}}</span>
      <span class="stat" ng-if="ctrl.statistics.sessionAvg.stDev !== 'DNF'">Avg: {{ctrl.statistics.sessionAvg.avg}} (&rho;={{ctrl.statistics.sessionAvg.stDev}})</span>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th class="type"></th>
        <th class="data">Current</th>
        <th class="data">Best</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="average in ctrl.statistics.averages">
        <td class="type">
          <span ng-bind="average.type + 'o' + average.length"></span>
        </td>
        <td class="data" ng-click="ctrl.openModal('current', $index)">
          <span ng-bind="average.current.avg"></span>
          <span ng-if="average.current.stDev !== 'DNF'">&nbsp;(&rho;={{average.current.stDev}})</span>
        </td>
        <td class="data" ng-click="ctrl.openModal('best', $index)">
          <span ng-bind="average.best.avg"></span>
          <span ng-if="average.best.stDev !== 'DNF'">&nbsp;(&rho;={{average.best.stDev}})</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>